USE [master]
GO
/****** Object:  Database [CategoryServiceDB]    Script Date: 2/8/2024 12:07:36 PM ******/
CREATE DATABASE [CategoryServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CategoryServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CategoryServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CategoryServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CategoryServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CategoryServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CategoryServiceDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/8/2024 12:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Foodstuffs')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Electronics')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Phones')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
USE [master]
GO
